* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.page-wrapper {
  min-height: 100vh;
  background:#0B91FF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.card {
  background: #ffffff;
  width: 100%;
  max-width: 1100px;
  border-radius: 28px;
  padding: 32px;
}

/* Header */
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
}

.back-btn {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

/* Content */
.card-content {
  display: flex;
  gap: 60px;
  margin-top: 40px;
  align-items: center;
}

.image-section img {
  width: 320px;
}

/* Form */
.form-section {
  flex: 1;
}

.form-section h1 {
  font-size: 32px;
  margin-bottom: 24px;
}

.form-section label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
}

.form-section input {
  width: 100%;
  padding: 14px 16px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #cfcfcf;
  font-size: 14px;
}

.primary-btn {
  width: 100%;
  background: #000000;
  color: #ffffff;
  padding: 14px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.signin-text {
  text-align: center;
  margin-top: 18px;
  font-size: 14px;
}

.signin-text span {
  color: #0066ff;
  cursor: pointer;
}
.gif-image {
  width: 320px;
  height: auto;
  object-fit: contain;
}
